body{
    background-attachment: scroll;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

h1, h2, h3, h4{
    text-align: center;
}

p{
    text-align: end;
    background-color: red;
}